CONFIG_TMF8829_SPI_HOST=2
CONFIG_TMF8829_SPI_CLOCK_HZ=20000000
CONFIG_TMF8829_PIN_MOSI=13
CONFIG_TMF8829_PIN_MISO=11
CONFIG_TMF8829_PIN_SCLK=12
CONFIG_TMF8829_PIN_CS=10
CONFIG_TMF8829_PIN_DE=9
CONFIG_TMF8829_READ_PERIOD_MS=100
CONFIG_TMF8829_UDP_TARGET_HOST="192.168.1.100"
CONFIG_TMF8829_UDP_TARGET_PORT=5005
CONFIG_TMF8829_LOG_SENSOR_DATA=y

# to let primary console I/O be used over the USB/JTAG interface for developer convinience
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# the M5 Unit ESP32 I use has 16M flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# stack size for main task
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192